<%= @current_user.email %>
<br/>
<%= image_tag(@current_user.seeker.photo_url, :size => "100x120") if @current_user.seeker.photo.present? %>
<br/>
<h3> Home Job _Seeker </h3>

<div id='calendar'>
</div>

<script>
  $(document).ready(function () {
    $('#calendar').fullCalendar();
  })
</script>

